# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore TMP files
tmp/*

# Ignore IDE files
.buildpath
.project
.settings
.idea